<div class="container-fluid mt-5 d-flex justify-content-center" >
      <div class="div-main-css text-center w-70">
      <h3 class="text-center p-3">Location details <span  class="spinner-border text-danger {{spinnercss}}" role="status"></span></h3>
      <div *ngIf="cheskerr">
        something went wrong,please wait...{{cheskerr}}
      </div>
     
      <p>statename:{{ResultentData.state}}</p>
      <p>city:{{ResultentData.city }}</p>
      <p>country:{{ResultentData.country}}</p>
      <p>region:{{ResultentData.region }}</p>
      <p>geonumber:{{ResultentData.geonumber }}</p>
      <p>langt:{{ResultentData.latt }}</p>
      <p>longt:{{ResultentData.longt }}</p>
      <p>address:{{ResultentData.staddress }}</p>
      <p>distance:{{ResultentData.distance }}</p>
      <p>elevation:{{ResultentData.elevation}}</p>
      <p>timezone:{{ResultentData.timezone}}</p>
      <p>stnumber:{{ResultentData.stnumber}}</p>
      <p>boundry:{{ResultentData.osmtags.name }}</p>
      
    </div>
</div>
